@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
/* background: url("http://res.cloudinary.com/dejyp5iex/image/upload/v1515956858/blue-floor_djw0r9.jpg") no-repeat center; */
background-color: #111111;
padding:0px;
margin:0px;
}

.author{
  font-size: 3em;
  color:white;
}

canvas{
}
